modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run main.cpp"

[[workflows.workflow]]
name = "Run main.cpp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ main.cpp -o main && ./main"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["apmplanner2", "openrct2", "tree", "wget", "file"]
